---
import BaseHead from '@/components/BaseHead.astro';
import BlogPostPreview from '@/components/BlogPostPreview.astro';

let title = 'My personal blog';
let description = 'I occasionally write about stuff I find interesting.';
let permalink = 'https://blog.pavi2410.me/';

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<html lang="en">

<head>
	<BaseHead {title} {description} {permalink} />
</head>

<body>
	<div class="container mx-auto max-w-prose space-y-8 my-8">
		<h1 class="text-5xl leading-normal font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
			My Blog
		</h1>
		<section>
			<p class="text-xl">{description}</p>
		</section>
		<section aria-label="Blog post list" class="space-y-4">
			{allPosts.map((p) =>
			<BlogPostPreview post={p} />)}
		</section>
	</div>
</body>

</html>